In [62]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import math 
import itertools

In [63]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
33,tt1051904,58000000,150170815,Goosebumps,Jack Black|Dylan Minnette|Odeya Rush|Amy Ryan|...,Rob Letterman,The stories are alive.,A teenager teams up with the daughter of young...,103,Adventure|Horror|Comedy,Columbia Pictures|Original Film|Scholastic Ent...,8/5/2015,6.2,2015
253,tt0808151,150000000,356613439,Angels & Demons,Tom Hanks|Ewan McGregor|Ayelet Zurer|Stellan S...,Ron Howard,The holiest event of our time. Perfect for the...,Harvard symbologist Robert Langdon investigate...,138,Thriller|Mystery,Columbia Pictures|Imagine Entertainment|Panora...,5/13/2009,6.3,2009
1452,tt0327084,80000000,155019340,Over the Hedge,Bruce Willis|Garry Shandling|Steve Carell|Wand...,Tim Johnson|Karey Kirkpatrick,Taking back the neighborhood... One snack at a...,A scheming raccoon fools a mismatched family o...,83,Comedy|Animation|Family,Pacific Data Images (PDI)|DreamWorks Animation,4/22/2006,6.2,2006
1312,tt0330373,150000000,895921036,Harry Potter and the Goblet of Fire,Daniel Radcliffe|Rupert Grint|Emma Watson|Ralp...,Mike Newell,Dark And Difficult Times Lie Ahead.,"Harry starts his fourth year at Hogwarts, comp...",157,Adventure|Fantasy|Family,Patalex IV Productions Limited|Warner Bros.|He...,11/5/2005,7.3,2005
653,tt0443274,40000000,151161491,Vantage Point,Dennis Quaid|Matthew Fox|Forest Whitaker|Sigou...,Pete Travis,"8 Strangers, 8 points of view. 1 Truth.",The attempted assassination of the American Pr...,90,Drama|Action|Thriller|Crime,Columbia Pictures|Original Film|Kanzaman|Relat...,2/1/2008,6.2,2008

In [64]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [65]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format

# Создание нового столбца в исходном датасете
data['profit'] = data.revenue - data.budget

# Создаем копию исходного датафрейма
cop = data.copy()

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [66]:
# в словарь вставляем номер вопроса и ваш ответ на него

# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [67]:
# тут пишем ваш код для решения данного вопроса:
max_budget = data[data.budget == data.budget.max()].original_title[723] + ' (' + \
                 data[data.budget == data.budget.max()].imdb_id[723] + ')'
max_budget

'Pirates of the Caribbean: On Stranger Tides (tt1298650)'

ВАРИАНТ 2

In [68]:
# можно добавлять разные варианты решения
data[data.budget == data.budget.max()].original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [69]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)'

In [70]:
data[data.runtime == data.runtime.max()].original_title

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [71]:
answers['3'] = 'Winnie the Pooh (tt1449283)'

In [72]:
data[data.runtime == data.runtime.min()].original_title

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [73]:
answers['4'] = '110'

In [74]:
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [75]:
answers['5'] = '107'

In [76]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [77]:
answers['6'] = 'Avatar (tt0499549)'

In [78]:
data[data.profit == data.profit.max()].original_title

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [79]:
answers['7'] = 'The Lone Ranger (tt1210819)'

In [80]:
data[data.profit == data.profit.min()].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [81]:
answers['8'] = '1478'

In [82]:
data[data.revenue > data.budget].imdb_id.nunique()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [83]:
answers['9'] = 'The Dark Knight (tt0468569)'

In [84]:
release = data[data.release_year == 2008]
release[release.revenue == release.revenue.max()].original_title

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [85]:
answers['10'] = 'The Lone Ranger (tt1210819)'

In [86]:
period = data[data.release_year.isin([2012, 2013, 2014])]
period[period.profit == period.profit.min()].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [87]:
answers['11'] = 'Drama'

In [88]:
# Обработка данных в копии исходного датафрейма
cop['genres'] = cop.genres.str.split('|')
cop['genres'].explode().value_counts().index[0]

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [89]:
answers['12'] = 'Drama'

In [90]:
# Обработка данных в копии исходного датафрейма
cop[cop.profit > 0].genres.explode().value_counts().index[0]

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [91]:
answers['13'] = 'Peter Jackson'

In [92]:
cop.groupby('director')['revenue'].sum().sort_values(ascending=False).index[0]

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [93]:
answers['14'] = 'Robert Rodriguez'

In [94]:
action = cop[cop.genres.str.contains('Action', regex=False)].copy()
action['directors'] = action.director.str.split('|')
action = action.explode('directors')
action.directors.value_counts().index[0]

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [95]:
answers['15'] = 'Chris Hemsworth'

In [96]:
year = data[data.release_year == 2012].copy()
year['cast'] = year.cast.str.split('|')
year = year.explode('cast')
actors = year.groupby('cast')['revenue'].sum().sort_values(ascending=False).index[0]
actors

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [97]:
answers['16'] = 'Matt Damon'

In [98]:
hight_budget = data[data.budget > data.budget.mean()].copy()
hight_budget['cast'] = hight_budget.cast.str.split('|')
hight_budget = hight_budget.explode('cast')
actor = hight_budget.cast.value_counts().index[0]
actor

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [99]:
answers['17'] = 'Action'

In [100]:
cop = data.copy()
cop['genres'] = cop.genres.str.split('|')
cop = cop.explode('genres')
cop = cop[cop.cast.str.contains('Nicolas Cage')]
Nicolas = cop.genres.value_counts().sort_values(ascending=False).index[0]
Nicolas

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [101]:
answers['18'] = 'K-19: The Widowmaker'

In [102]:
cop = data.copy()
cop = cop[cop.production_companies.str.contains('Paramount Pictures')]
cop[cop.profit == cop.profit.min()].original_title

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [103]:
answers['19'] = '2015'

In [104]:
dataset = data.groupby('release_year')['revenue'].sum().sort_values(ascending=False).index[0]
dataset

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [105]:
answers['20'] = '2014'

In [106]:
cop = data.copy()
cop = cop[cop.production_companies.str.contains('Warner Bros')].groupby('release_year')['revenue'].sum().sort_values(
    ascending=False
).index[0]
cop

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [107]:
answers['21'] = 'Сентябрь'

In [108]:
data['release_date'] = data.release_date.str.split('/')
data['month'] = data.release_date.apply(lambda x: int(x[0]))
value_month = data.month.value_counts()
month = {
    1: 'Январь', 2: 'Февраль', 3: 'Март', 4: 'Апрель', 5: 'Май', 6: 'Июнь',
    7: 'Июль', 8: 'Август', 9: 'Сентябрь', 10: 'Октябрь', 11: 'Ноябрь', 12: 'Декабрь'
}
month[value_month.index[0]]

'Сентябрь'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [109]:
answers['22'] = '450'

In [110]:
summer = data[data.month.isin([6, 7, 8])]
summer.original_title.count()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [111]:
answers['23'] = 'Peter Jackson'

In [112]:
winter = data[data.month.isin([12, 1, 2])]
winter = winter.groupby('director')['original_title'].count().sort_values(ascending=False).index[0]
winter

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [113]:
answers['24'] = 'Four By Two Productions'

In [114]:
data['length_title'] = data.original_title.apply(lambda x: len(x))
cop = data.copy()
cop['production_companies'] = cop.production_companies.str.split('|')
cop = cop.explode('production_companies')
studio = cop.groupby('production_companies')['length_title'].mean().sort_values(ascending=False).index[0]
studio

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [115]:
answers['25'] = 'Midnight Picture Show'

In [116]:
cop['overview'] = cop.overview.str.split()
cop['length_overview'] = cop.overview.apply(lambda x: len(x))
studio_overview = cop.groupby('production_companies')['length_overview'].mean().sort_values(ascending=False).index[0]
studio_overview

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [117]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

In [118]:
best = data.vote_average.sort_values(ascending=False)
counts = len(best) / 100
print(data.iloc[best.head(math.ceil(counts)).index].original_title)

599                                   The Dark Knight
125                                The Imitation Game
9                                          Inside Out
118                                      Interstellar
34                                               Room
1081    The Lord of the Rings: The Return of the King
138                          The Grand Budapest Hotel
1183                          The Wolf of Wall Street
370                                         Inception
119                           Guardians of the Galaxy
1800                                          Memento
128                                         Gone Girl
872                                       The Pianist
1191                                 12 Years a Slave
283                                        Mr. Nobody
1688                              There Will Be Blood
863             The Lord of the Rings: The Two Towers
155                          The Theory of Everything
1563            Eternal Sunshine of the Spotless Mind
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [121]:
answers['27'] = 'Daniel Radcliffe, Rupert Grint'

In [120]:
data['cast'] = data.cast.str.split('|').apply(lambda x: list(itertools.combinations(x, 2)))
data = data.explode('cast')
print(Counter(data.cast).most_common(1))

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

# Submission

In [122]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe, Rupert Grint'}

In [123]:
# и убедиться что ни чего не пропустил)
len(answers)

27